@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root {
	@include breakpoint (md) {
		font-size: 12px;
	}
	@include breakpoint (xs) {
		font-size: 10px;
	}
}

body {
    font-family: 'Gilroy-Regular';
}

a {
	text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
	align-items: center;
	.wrapper {
		height: 50%;
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 40px;
		@include breakpoint (md) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		@include breakpoint (sm) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	&__item {
		&:first-child {
			margin-left: 80px;
		}
		&:last-child {
			margin-right: 40px;
			@include breakpoint (md) {
				margin-right: 0;
			}
		}
	}
	.nav__item:not(:last-child) {
		margin-right: 31px;
	}
	.nav__link {
		font-size: 20px;
		&:hover {
			opacity: 0.7;
			color: $orange;
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
		@include breakpoint (lg) {
			font-size: 22px;
		}
	}
	&__button {
		color: $orange;
		border-color: $orange;
		width: 150px;
		height: 45px;
		background-color: #fff;
		&:hover {
			color: #fff;
			background-color: $orange;
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
		@include breakpoint (md) {
			width: 120px;
			height: 35px;
		}
		@include breakpoint (xs) {
			width: 110px;
		}
	}
	&__nav {
		@include breakpoint (md) {
			display: none;
		}
	}
}

.logo {
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    font-size: 18px;
	text-decoration: none;
	color: black;
	@include breakpoint (lg) {
		font-size: 22px;
	}
}

.nav {
    display: flex;
    list-style-type: none;
    &__link {
		outline: none;
		text-decoration: none;
		color: black;
		font-size: 20px;
		&:hover {
			opacity: 0.7;
			color: $orange;
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
			outline: none;
			-webkit-outline: none;
			-moz-outline: none;
		}
		&:focus {
			outline: none;
			-webkit-outline: none;
			-moz-outline: none;
		}
		@include breakpoint (lg) {
			font-size: 22px;
		}
    }
	&__parent {
		position: relative;
	}
}

.nav__parent:hover .submenu {
	display: flex;
}

.submenu {
	background-color: rgba(255, 255, 255,0.7);;
	position: absolute;
	display: none;
	flex-direction: column;
	list-style-type: none;
	padding: 5px;
	&__item {
		margin-top: 20px;
	}
	&__link {
		white-space: nowrap;
		text-decoration: none;
		color: black;
		font-size: 18px;
		&:hover {
			opacity: 0.7;
			color: $orange;
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
		&:focus {
			outline: none;
			-webkit-outline: none;
			-moz-outline: none;
		}
		@include breakpoint (lg) {
			font-size: 20px;
		}
	}
}

.submenu_2 {
	display: none;
	left: 100%;
}

.button {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	border: 1px solid;
	border-radius: 5px;
}

.find {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&__item:first-child {
		background-color: $gray2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.wrapper {
			width: 60%;
			height: 60%;
			margin: 140px auto;
			@include breakpoint (lg) {
				margin: 100px auto;
			}
			@include breakpoint (md) {
				margin: 60px auto;
			}
			@include breakpoint (sm) {
				margin: 40px auto;
			}
			@include breakpoint (sm) {
				margin: 30px auto;
			}
		}
	}
	&__item:last-child {
		background-image: url(../img/couple.jpg);
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__title {
		font-family: 'Gilroy-SemiBold';
		font-size: 56px;
		margin-bottom: 36px;
		line-height: 68px;
		@include breakpoint (lg) {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		@include breakpoint (md) {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		@include breakpoint (sm) {
			margin-bottom: 15px;
		}
		@include breakpoint (xs) {
			font-size: 15px;
			line-height: 15px;
			margin-bottom: 10px;
		}
	}
	&__description {
		font-size: 20px;
		margin-bottom: 52px;
		line-height: 28px;
		@include breakpoint (lg) {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 30px;
		}
		@include breakpoint (md) {
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 30px;
		}
		@include breakpoint (sm) {
			display: none;
		}
	}
	&__button {
		background-color: $orange;
		color: #fff;
		width: 200px;
		height: 60px;
		border-color: $orange;
		&:hover {
			color: $orange;
			background-color: #fff;
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
		@include breakpoint (lg) {
			width: 160px;
			height: 50px;
		}
		@include breakpoint (md) {
			width: 130px;
			height: 35px;
		}
		@include breakpoint (xs) {
			width: 100px;
			height: 30px;
		}
	}
}

.more {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&__item:first-child {
		background-image: url(../img/more.svg);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}
	&__item:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gray2;
		.wrapper {
			width: 60%;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin: 60px auto;
			@include breakpoint (lg) {
				margin: 40px auto;
			}
			@include breakpoint (md) {
				margin: 30px auto;
			}
			@include breakpoint (sm) {
				margin: 20px auto;
			}
			@include breakpoint (xs) {
				margin: 15px auto;
			}
		}
	}
	&__title {
		font-size: 32px;
		margin-bottom: 23px;
		@include breakpoint (lg) {
			font-size: 25px;
		}
		@include breakpoint (md) {
			font-size: 20px;
		}
		@include breakpoint (sm) {
			margin-top: 30px;
		}
		@include breakpoint (sm) {
			margin-top: 20px;
			font-size: 15px;
			margin-bottom: 10px;
		}
	}
	&__description {
		font-size: 20px;
		margin-bottom: 35px;
		line-height: 28px;
		@include breakpoint (lg) {
			font-size: 14px;
			margin-bottom: 30px;
		}
		@include breakpoint (md) {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 15px;
		}
		@include breakpoint (sm) {
			display: none;
		}
	}
	&__button {
		width: 200px;
		height: 60px;
		color: $orange;
		&:hover {
			color: #fff;
			background-color: $orange;
			-moz-transition: all .25s ease-in-out;
    	-webkit-transition: all .25s ease-in-out;
    	-o-transition: all .25s ease-in-out;
    	-ms-transition: all .25s ease-in-out;
    	transition: all .25s ease-in-out;
		}
		@include breakpoint (lg) {
			width: 160px;
			height: 50px;
		}
		@include breakpoint (md) {
			width: 130px;
			height: 45px;
		}
		@include breakpoint (xs) {
			width: 100px;
			height: 30px;
		}
	}
}

.h2 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 25px;
	@include breakpoint (sm) {
		font-size: 22px;
	}
}
.offer {
	font-size: 18px;
	text-align: center;
	@include breakpoint (sm) {
		font-size: 14px;
	}
}

.gift {
	height: 770px;
	@include breakpoint (lg) {
		height: 670px;
	}
	@include breakpoint (md) {
		height: 570px;
	}
	@include breakpoint (sm) {
		height: 820px;
	}
	&__options {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 440px;
		gap: 30px;
		margin-top: 60px;
		@include breakpoint (lg) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 200px);
		}
		@include breakpoint (md) {
			grid-template-rows: repeat(2, 150px);
		}
		@include breakpoint (sm) {
			grid-template-rows: repeat(4, 150px);
			grid-template-columns: repeat(1, 1fr);
			margin-top: 40px;
		}
		
	}
	.wrapper {
		width: 80%;
		height: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 60px auto;
		@include breakpoint (sm) {
			margin: 40px auto;
		}
	}
	&__item {
		width: 100%;
		height: 100%;
		background-color: $gray1;
		&:hover {
			background-color: #fff;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
		}
		@include breakpoint (lg) {
			display: flex;
		}
	}
	&__image {
		width: 270px;
		height: 270px;
		background-size: cover;
		&.gift1 {
			background-image: url(../img/gift1.svg);
		}
		&.gift2 {
			background-image: url(../img/gift2.svg);
		}
		&.gift3 {
			background-image: url(../img/gift3.svg);
		}
		&.gift4 {
			background-image: url(../img/gift4.svg);
		}
		@include breakpoint (lg) {
			width: 200px;
			height: 200px;
		}
		@include breakpoint (md) {
			width: 150px;
			height: 150px;
		}
	}
	&__occasion {
		font-size: 20px;
		margin-top: 6%;
		margin-left: 9%;
		a {
			color: #000000;
		}
		&:hover {
			opacity: 0.7;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			-moz-transition: all .25s ease-in-out;
    		-webkit-transition: all .25s ease-in-out;
    		-o-transition: all .25s ease-in-out;
    		-ms-transition: all .25s ease-in-out;
    		transition: all .25s ease-in-out;
		}
	}
	&__more {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		margin-top: 25%;
		margin-left: 9%;
		a {
			color: black;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__desc {
		@include breakpoint (lg) {
			width: 200px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
		@include breakpoint (md) {
			width: 150px;
			height: 150px;
		}
	}
	&__h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}
}

.sign {
	background-color: $orange;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&__item:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.wrapper {
			width: 60%;
			height: 30%;
			margin: 84px auto;
			@include breakpoint (lg) {
				width: 80%;
				height: 30%;
			}
			@include breakpoint (md) {
				margin: 63px auto;
			}
			@include breakpoint (sm) {
				width: 100%;
				height: 10%;
				text-align: center;
				margin: 45px auto;
			}
			@include breakpoint (xs) {
				margin: 35px auto;
			}
			span {
				font-family: 'Gilroy-Bold';
				font-size: 32px;
				@include breakpoint (md) {
					font-size: 24px;
				}
				@include breakpoint (sm) {
					display: none;
				}
			}
			br {
				@include breakpoint (sm) {
					display: none;
				}
			}
		}
		font-size: 32px;
		@include breakpoint (md) {
			font-size: 24px;
		}
		@include breakpoint (sm) {
			font-size: 18px;
			font-family: 'Gilroy-SemiBold';
		}
		@include breakpoint (xs) {
			font-size: 14px;
		}
	}
	&__item:last-child {
		display: flex;
		align-items: center;
		@include breakpoint (md) {
			justify-content: center;
		}
	}
	&__button {
		width: 200px;
		height: 48px;
		@include breakpoint (lg) {
			width: 160px;
		}
		@include breakpoint (xs) {
			width: 120px;
		}
		&_1 {
			background-color: black;
			color: #fff;
			border-color: black;
			margin-left: 100px;
			&:hover {
				color: black;
				background-color: $gray3;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
			}
			@include breakpoint (md) {
				margin-left: 0;
			}
		}
		&_2 {
			background-color:$orange;
			color: black;
			margin-left: 16px;
			&:hover {
				color: black;
				background-color: $gray3;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
			}
			@include breakpoint (sm) {
				display: none;
			}
		}
	}
}

.blog {
	.wrapper {
		width: 80%;
	}
	display: flex;
	justify-content: center;
	
	&__item {
		display: flex;
		margin-top: 70px;
		@include breakpoint (md) {
			margin-top: 50px;
		}
		@include breakpoint (sm) {
			margin-top: 30px;
		}
	}
	&__image {
		background-image: url(../img/blog.svg);
		width: 35%;
		background-repeat: no-repeat;
		background-size: cover;
		@include breakpoint (md) {
			background-position: left;
		}
		@include breakpoint (sm) {
			width: 50%;
		}
		@include breakpoint (xs) {
			width: 60%;
		}
	}
	&__title {
		justify-content: center;
		align-items: center;
		width: 65%;
		.wrapper {
			height: 70%;
			width: 70%;
			margin: 55px auto;
		}
		background-color: $dark-gray1;
		display: flex;
		flex-direction: column;
		color: #fff;
		&_name {
			font-size: 14px;
			@include breakpoint (md) {
				font-size: 12px;
			}
			@include breakpoint (xs) {
				font-size: 10px;
			}
		}
		&_desc {
			font-size: 48px;
			margin-top: 27px;
			@include breakpoint (md) {
				font-size: 28px;
				margin-top: 17px;
			}
			@include breakpoint (sm) {
				font-size: 17px;
			}
			@include breakpoint (xs) {
				font-size: 14px;
			}
		}
		&_more {
			font-size: 18px;
			margin-top: 60px;
			&:hover {
				text-decoration: underline;
			}
			a {
				color: #fff;
			}
			@include breakpoint (md) {
				font-size: 10px;
				margin-top: 30px;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		height: 290px;
		@include breakpoint (sm) {
			display: none;
		}
	}
	&__h2 {
		margin-top: 80px;
		@include breakpoint (sm) {
			margin-top: 40px;
		}
	}
}

.article {
	width: 50%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
	}
	.wrapper {
		width: 80%;
		height: 80%;
		display: flex;
		flex-direction: column;
		
	}
	&_name {
		font-size: 24px;
		font-family: 'Gilroy-Bold';
		height: 40%;
		@include breakpoint (md) {
			font-size: 20px;
		}
	}
	&_desc {
		font-size: 18px;
		margin-top: 16px;
		height: 50%;
		@include breakpoint (md) {
			font-size: 14px;
		}
	}
	&__more {
		height: 10%;
		a {
			color: black;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer {
	background-color: $gray1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 80px;
	@include breakpoint (lg) {
		margin-top: 40px;
	}
	@include breakpoint (md) {
		height: 310px;
	}
	@include breakpoint (sm) {
		margin-top: 0;
		height: 240px;
	}
	.wrapper {
		width: 80%;
		height: 80%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin: 41px auto;
	}
	&__item {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-top: 41px;
		&:first-child {
			margin-bottom: 41px;
		}
		&:last-child {
			font-size: 14px;
		}
		.nav {
			margin: 0 auto;
			@include breakpoint (sm) {
				flex-direction: column;
				align-items: center;
			}
			@include breakpoint (xs) {
				display: none;
			}
			&__link {
				font-size: 14px;
				font-family: 'Gilroy-Bold';
				&:hover {
					opacity: 0.7;
					color: $orange;
					-moz-transition: all .25s ease-in-out;
					-webkit-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
				}
				@include breakpoint (lg) {
					font-size: 22px;
				}
				@include breakpoint (md) {
					font-size: 14px;
				}
			}
		}
		.nav__item:not(:last-child) {
			margin-right: 81px;
			@include breakpoint (md) {
				margin-right: 30px;
			}
			@include breakpoint (sm) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
	&__logo {
		color: $orange;
		@include breakpoint (lg) {
			font-size: 22px;
		}
		@include breakpoint (xs) {
			font-size: 18px;
		}
	}
	&__icon {
		&:not(:last-child) {
			margin-right: 24px;
		}
		&:hover {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-o-transform: scale(1.2);
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		a {
			display: block;
			width: 40px;
			height: 40px;
		}
		.fb {
			background-image: url(../img/fb.svg);
		}
		.tw {
			background-image: url(../img/tw.svg);
		}
		.inst {
			background-image: url(../img/inst.svg);
		}
		.yt {
			background-image: url(../img/yt.svg);
		}
		.pint {
			background-image: url(../img/pint.svg);
		}
	}
	&__term-year {
		margin-right: 14px;
	}
}

.hr {
	width: 100%;
	height: 1px;
	background-color: black;
}

#frame {
	display: none;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	gap: 30px;
	border: 3px solid $orange;
	background-color: #fff;
	&__title {
		text-transform: uppercase;
		margin-top: 30px;
		font-family: 'Gilroy-Regular';
	}
	&__item {
		padding-left: 25px;
		height: 30px;
		width: 70%;
		border: none;
		border-radius: 30px;
		text-transform: uppercase;
		-webkit-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    2px 2px 30px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         2px 2px 30px 0px rgba(50, 50, 50, 0.3);
		&:focus {
			outline: none;
		}
		&:active {
			outline: none;
		}
	}
	&__button {
		background: $orange;
		color: #fff;
		width: 200px;
		height: 40px;
		font-size: 15px;
		border-radius: 30px;
		margin-bottom: 30px;
	}
}

.fancybox_container {
	&:focus {
		-webkit-outline: none !important;
		-moz-outline: none !important;
		outline: none !important;
	}
}

.nav-bar {
	position: absolute;
	background-color: $orange;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}

.toggle {
	right: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
	z-index: 9999;
	position: fixed;
}

.toggle-menu {
	background-color: rgba(247, 148, 30, 0.8);
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	border-radius: 5px;
	cursor: pointer;
	@include breakpoint (minmd) {
		display: none;
	}
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
	background-color: white;
}

.nav-list {
	list-style: none;
	
}

.nav-list-item {
	text-align: center;
	padding: 10px 0;
	text-transform: uppercase;
	&:not(:last-child) {
		padding-bottom: 50px;
	}
}

.nav-link {
	color: #fff;
	text-decoration: none;
}


.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}